
body { background-image: url(a62.png);
}

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

header {

  background-color: black;
  margin: 10px;
  padding: 5px 0px 5px 10px;
  width: 930px;
   grid-column: span 12;
}

h1 {
font-family: Helvetica;
font-weight: normal;
font-size: 20px;
color: white;
}

nav {
  font-family: Helvetica;
 display: inline-block;
 grid-column: span 3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
  margin: 0;
  padding:0px 10px 10px 10px;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white!important;
  text-decoration: none;
}

nav li a:hover {
background-color: darkred;
text-decoration: none!important;
}

main {
  font-family: Georgia;
  text-align: justify;
  grid-column: span 9;
}

img {
  border: 2px solid black;
  margin: 10px;
  padding:10px;
float:left;
}

h2 {
font-family: Helvetica;
margin: 5px 15px 10px 10px;
padding: 0px 10px 10px 5px;
border-bottom: 3px solid black;
}

.pwidth {
font-weight: bold;
}

p {
  margin: 15px;

}

a:link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
 color: blue;
 text-decoration: underline;
}

footer {
color: white;
background-color: red;
font-style: italic;
font-family: Verdana;
text-align: center;
grid-column: span 12;
border-top: 2px solid black;
padding: 5px 30px 5px 30px;

}
